
.preview {
    width: 640px;
    height: 360px;

    flex-shrink: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}


/* =========================================================
   YOUTUBE FRAME
========================================================= */

.youtube-frame {
    position: relative;

    width: 640px;
    height: 360px;

    flex-shrink: 0;

    overflow: hidden;
}


/* =========================================================
   VIDEO AREA
========================================================= */

.video-area {
    position: relative;

    width: 640px;
    height: 360px;

    flex-shrink: 0;

    overflow: hidden;

    background: #000;
}


/* =========================================================
   VIDEO MODE
=========================================================

   Dùng cho:

   - AI Project
   - Manual Video Project

   Video là background chính.

   Video:
   - Hiển thị hình ảnh
   - Phát audio
   - Là master clock
   - Seek
   - Playback

========================================================= */

.preview-video {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    z-index: 1;

    pointer-events: none;
}


/* =========================================================
   IMAGE MODE
=========================================================

   Dùng cho:

   - Manual Image Project

   Video lúc này KHÔNG hiển thị.

   Nó chỉ dùng:
   - Audio
   - Duration
   - Master Clock
   - Playback
   - Seek

========================================================= */

.preview-timing-video {
    position: absolute;

    width: 1px;
    height: 1px;

    left: 0;
    top: 0;

    opacity: 0;

    pointer-events: none;

    z-index: 0;
}


/* =========================================================
   BACKGROUND IMAGE
=========================================================

   Chỉ dùng khi project có imageFile.

========================================================= */

.preview-background {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    user-select: none;

    pointer-events: none;

    z-index: 1;
}


/* =========================================================
   KARAOKE
========================================================= */

.karaoke-overlay {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 2;

    pointer-events: none;
}


/* =========================================================
   EMPTY
========================================================= */

.preview-empty {
    position: absolute;

    inset: 0;

    z-index: 3;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 10px;

    color: #aaa;

    font-size: 20px;

    background: #111;
}
