.karaoke-canvas {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    pointer-events: none;

    background: transparent;
}


/* ============================================================
   LYRICS
============================================================ */

.karaoke-lyrics-layer {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 10;

    pointer-events: none;
}


/* ============================================================
   SUBTITLE DRAG BOX
============================================================ */

.subtitle-drag-box {
    position: absolute;

    pointer-events: auto;

    user-select: none;
}


/* ============================================================
   SELECTED SUBTITLE
============================================================ */

.subtitle-drag-box-selected {
    outline: 1px solid #00aaff;

    outline-offset: 8px;

    cursor: move;
}


/* ============================================================
   SUBTITLE LINE
============================================================ */

.subtitle-line {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    width: max-content;

    pointer-events: none;
}


/* ============================================================
   WORD
============================================================ */

.subtitle-word {
    position: relative;

    display: inline-block;

    margin-right: 8px;

    white-space: nowrap;

    font-size: 30px;

    font-weight: 700;
}


/* ============================================================
   NORMAL WORD
============================================================ */

.subtitle-normal {
    position: relative;

    display: block;

    z-index: 1;
}


/* ============================================================
   ACTIVE WORD
============================================================ */

.subtitle-fill {
    position: absolute;

    left: 0;
    top: 0;

    height: 100%;

    overflow: hidden;

    white-space: nowrap;

    z-index: 2;

    pointer-events: none;
}


/* ============================================================
   WAITING
============================================================ */

.waiting-text {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    color: #aaa;

    font-size: 30px;

    white-space: nowrap;

    pointer-events: none;

    z-index: 20;
}