.karaoke-canvas {

    position: relative;

    width: 640px;

    height: 360px;

    flex-shrink: 0;

    overflow: hidden;

    background: #000;

}


/* ========================================
   SUBTITLE BOX
======================================== */

.subtitle-drag-box {

    position: absolute;

    pointer-events: auto;

    flex-shrink: 0;

}


/* ========================================
   SUBTITLE LINE
======================================== */

.subtitle-line {

    pointer-events: none;

    flex-shrink: 0;

    width: max-content;

}


/* ========================================
   WAITING
======================================== */

.waiting-text {

    position: absolute;

    left: 50%;

    top: 50%;

    transform:
        translate(-50%, -50%);

    color: #aaa;

    font-size: 30px;

    pointer-events: none;

}